<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Free Billing - @ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="~/site.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("header", false)
</head>
<body>
    <header class="flex 
                   justify-between
                   w-full
                   bg-blue-900
                   text-white
                   p-3">
        <h1 class="font-bold text-2xl"><i class="fa-solid fa-file-lines"></i> Free Billing</h1>
        <ul class="flex text-blue-300">
            <li class="mx-2 hover:text-blue-500"><a href="/">Home</a></li>
            <li class="mx-2 hover:text-blue-500"><a href="/Contact">Contact</a></li>
            <li class="mx-2 hover:text-blue-500"><a href="/Customers">Customers</a></li>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <li class="mx-2 hover:text-blue-500">@User.Identity?.Name - <a asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
            }
            else
            {
                <li class="mx-2 hover:text-blue-500"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            }
        </ul>
    </header>
    <div class="bg-gray-400 p-2 w-full h-[calc(100vh-75px)] overflow-auto">
        @RenderBody()
    </div>
    <footer class="text-center bg-black text-white">&copy; 2024 Free Billing</footer>
    @RenderSection("scripts", false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
